@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/effect-coverflow";
@import "swiper/css/effect-flip";
@import './style.css';
@import "tailwindcss";

@theme {
  --color-primary: #f36a46;
}

:root {
  --font-body: 'Mulish', sans-serif;
  --font-heading: 'Rubik', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
  --action: #f36a46cc;
}

.simplebar-placeholder {
  height: 0 !important;
}

.fijb {
  @apply flex items-center justify-between;
}

.row {
  @apply grid grid-cols-12 gap-2 md:gap-4;
}

.heading{
  @apply text-xl md:text-3xl text-center mb-3 font-bold
}

.btn {
  @apply block relative overflow-hidden text-sm font-bold uppercase text-center text-white rounded-full transition-colors duration-300 disabled:opacity-60 disabled:cursor-not-allowed z-50 px-3 py-1;
  background-color: var(--color-primary, #f36a46);
}

.btn:hover {
  background-color: var(--action);
}

.squareBtn {
  @apply block relative overflow-hidden text-sm font-bold text-center text-white rounded-lg transition-colors duration-300 disabled:opacity-60 disabled:cursor-not-allowed z-50 px-3 py-2;
  background-color: var(--action);
}

.squareBtn:hover {
  @apply bg-blue-600;
}

.card_cover {
  @apply h-full w-full relative overflow-hidden rounded-2xl shadow-md bg-white transition-transform duration-200 hover:-translate-y-0.5 hover:shadow-lg;
}

/* Media Query Overrides for Responsive Text & Padding */
@media (min-width: 768px) {
  .btn {
    @apply text-base px-6 py-2;
  }
  .squareBtn {
    @apply text-base px-6 py-3;
  }
}

@media (min-width: 1024px) {
  .btn {
    @apply text-lg px-12;
  }
  .squareBtn {
    @apply px-12;
  }
}

.font-body {
  font-family: var(--font-body);
}

.font-heading {
  font-family: var(--font-heading);
}

.container {
  width: 85%;
  max-width: 85%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: 98%;
    max-width: 98%;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}